{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container flex-fill d-flex flex-column">
    <!-- Top -->
    <div class="d-flex justify-content-end my-2">
        <form action="{% url 'lista-tareas:completar' pk=tarea.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="estado" value="completada">
            <input type="submit" class="btn btn-success mx-2" value="Completar">
        </form>
        <a href="{% url 'lista-tareas:editar' pk=tarea.pk %}" class="btn btn-primary mx-2" role="button">Editar</a>
        <a href="{% url 'lista-tareas:eliminar' pk=tarea.pk %}" class="btn btn-danger mx-2" role="button">Eliminar</a>
    </div>
    <!-- Top -->
    
    <div class="flex-fill d-flex flex-column justify-content-center">   
        <!-- Center -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ tarea.titulo }}</h5>
                        <div class="card-text">
                            <p> {{ tarea.descripcion }}</p>
                            <p><span class="fw-bold">Estado:</span> {{ tarea.get_estado_display }}</p>
                            <p><span class="fw-bold">Etiqueta:</span> {{ tarea.etiqueta }}</p>
                            <p class="text-danger"><span class="fw-bold">Prioridad:</span> {{ tarea.prioridad }}</p>
                            <p>Vence {{ tarea.vencimiento }}</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-12- col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success my-2" value="Guardar Observaciones">
                </form>
            </div>
        </div>
        <!-- Center -->
    </div>
</div>
{% endblock content %}