{% extends 'base.html' %}
{% load static %}

{% block centered %}
<div class="hero-bg d-flex flex-column align-items-center justify-content-center my-2"
    style="background-image: url(&quot;{% static 'img\Bullet-Journal-by-Matt-Ragland.jpg' %}&quot;);">
    <div class="mask p-4 text-center w-100">
        <h4>Mis Tareas</h4>
        <p>Una lista de tareas sencilla y funcional.</p>
        <a href="{% url 'usuarios:login' %}" class="btn btn-primary" role="button">Iniciar Sesión</a>
    </div>
</div>
{% endblock centered %}